.modal-dialog(role="document")
  .modal-content
    .modal-header
      div(class="modal-title") 
        button(type="button", class="close", data-dismiss="modal", aria-label="Close") 
          span(aria-hidden="true") &times
        h4.modal-title-text Download all pictures
    .modal-body
      a#download-pic
        Download Picture Bundle
      br
      br
      a#download-apk
        Download APK to view on mobile phone
    .modal-footer
      button(type="button", class="btn btn-default", data-dismiss="modal") Close