.modal-dialog(role="document")
  .modal-content
    .modal-header
      div(class="modal-title") 
        button(type="button", class="close", data-dismiss="modal", aria-label="Close") 
          span(aria-hidden="true") &times
        h4.modal-title-text Link of Current Page
    .modal-body
      p#url Link
    .modal-footer
      button(type="button", class="btn btn-default", data-dismiss="modal") Close