.modal-dialog(role="document")
  .modal-content
    .modal-header
      div(class="modal-title", id="myModalLabel") 
        button(type="button", class="close", data-dismiss="modal", aria-label="Close") 
          span(aria-hidden="true") &times
        h4.modal-title-text Your thoughts of 
    form(action="/comment", method="post", id="dddd")
      .modal-body
          .form-group
            label.radio-inline
              input(type="radio", name="img_grade", id="good", value="good", checked="checked")
              span(class="label label-success") Good
            label.radio-inline
              input(type="radio", name="img_grade", id="bad", value="bad")
              span(class="label label-warning") Not good                  
            label.radio-inline
              input(type="radio", name="img_grade", id="poor", value="poor")
              span(class="label label-danger") Terrible
          .form-group
            label.control-label(for="comment_message") Comment
            textarea.form-control(rows="3", name="comment_message", id="comment_message",placeholder="Some thing to say...",value="aa")
      .modal-footer
        button(type="button", class="btn btn-default", data-dismiss="modal") Close
        button(type="submit", class="btn btn-primary") Send