extends layout

block content
  #dl-project(class='hidden') #{project}
  #dl-version(class='hidden') #{version}
  .headerbar
    h1(id="header-product")
    h3(id="header-hw")
    h3(id="header-sw")
    h3(id="header-baseline")
    h3(id="header-cam-app")
  .container(id="chart-container")
    .row
      .col-md-1
        #reference-color
      .col-md-11
        b Benchmark
    .row
      .col-md-1
        #actual-color
      .col-md-2
        b Actual
    .row
      .col-md-6
        a(href="#test-desc")
          h3(id="slot11")
        canvas(id="slot11")
      .col-md-6
        a(href="#test-desc")
          h3(id="slot12")
        canvas(id="slot12")
    .row
      .col-md-6
        a(href="#test-desc")
          h3(id="slot21")      	
        canvas(id="slot21")
      .col-md-6
        a(href="#test-desc")
          h3(id="slot22")
        canvas(id="slot22")
    .row
      .col-md-6
        a(href="#test-desc")
          h3(id="slot31")
        canvas(id="slot31")
      .col-md-6
        a(href="#test-desc")
          h3(id="slot32")
        canvas(id="slot32")
    .row
      .col-md-6
        a(href="#test-desc")
          h3(id="slot41")
        canvas(id="slot41")
      .col-md-6
        a(href="#test-desc")
          h3(id="slot42")
        canvas(id="slot42")
    .row
      .col-md-6
        a(href="#test-desc")
          h3(id="slot51")
        canvas(id="slot51")
      .col-md-6
        a(href="#test-desc")
          h3(id="slot52")
        canvas(id="slot52")
    .row
      .col-md-6
        a(href="#test-desc")
          h3(id="slot61")
        canvas(id="slot61")
      .col-md-6
        a(href="#test-desc")
          h3(id="slot62")
        canvas(id="slot62")
    .row
      .col-md-4
        a(href="#test-desc")
          h3(id="slot71")
        canvas(id="slot71")
      .col-md-4
        a(href="#test-desc")
          h3(id="slot72")
        canvas(id="slot72")
      .col-md-4
        a(href="#test-desc")
          h3(id="slot73")
        canvas(id="slot73")
    .row
      .col-md-6
        a(href="#test-desc")
          h3(id="slot81")
        canvas(id="slot81")
      .col-md-6
        a(href="#test-desc")
          h3(id="slot82")
        canvas(id="slot82")
  table(class='table table-striped table-bordered' id="test-desc")
    tr
      th Test Case
      th Description
block append javascript
  script(src="Chart.js")
  script(src="/javascripts/perf/main.js")