.modal-dialog(role="document")
  .modal-content
    .modal-header
      div(class="modal-title") 
        button(type="button", class="close", data-dismiss="modal", aria-label="Close") 
          span(aria-hidden="true") &times
        h4.modal-title-text Settings
    .modal-body
      b Size:
      br
      .btn-group(data-toggle="buttons", id="imgsize-group")
        label(class="btn btn-default", id="full-size", filter="setting")
          input(type="radio", name="image-size", id="full-size", value="full-size", autocomplete="off") 
          span Full Size
        label(class="btn btn-default", id="large", filter="setting")
          input(type="radio", name="image-size", id="large", value="large", autocomplete="off") 
          span Large
        label(class="btn btn-default", id="medium", filter="setting")
          input(type="radio", name="image-size", id="medium", value="medium", autocomplete="off") 
          span Medium
        label(class="btn btn-default", id="small", filter="setting")
          input(type="radio", name="image-size", id="small", value="small", autocomplete="off") 
          span Small
      br
      br
      b Layout:
      br
      .btn-group(data-toggle="buttons", id="layout-group")
        label(class="btn btn-default", id="matrix", filter="setting")
          input(type="radio", name="layout", id="matrix", value="matrix", autocomplete="off") 
          span Matrix
        label(class="btn btn-default", id="film-strip", filter="setting")
          input(type="radio", name="layout", id="film-strip", value="matrix", autocomplete="off") 
          span Film-strip
      br
      br
      b Comment:
      br
      .btn-group(data-toggle="buttons", class="comment-group")
        label(class="btn btn-default", id="my", filter="setting")
          input(type="radio", name="comment", id="my", value="my", autocomplete="off") 
          span My
        label(class="btn btn-default", id="mml", filter="setting")
          input(type="radio", name="comment", id="mml", value="mml", autocomplete="off") 
          span MML        
        label(class="btn btn-default", id="off", filter="setting")
          input(type="radio", name="comment", id="off", value="off", autocomplete="off") 
          span Off
      br
      br
      b EXIF Info:
      br
      .btn-group(data-toggle="buttons", id="exif-group")
        label(class="btn btn-default", id="exif-on", filter="setting")
          input(type="radio", name="comment", id="on", value="on", autocomplete="off") 
          span On      
        label(class="btn btn-default", id="exif-off", filter="setting")
          input(type="radio", name="comment", id="off", value="off", autocomplete="off") 
          span Off
    .modal-footer
      button(type="button", class="btn btn-default", data-dismiss="modal") Close