extends layout

block content
  #dl-account(class='hidden') #{account}
  #dl-mail(class='hidden') #{mail}
  #dl-error(class='hidden') #{error}
  h2 Processing...

block append javascript
  script(src="/javascripts/steptonext/main.js")