extends layout

block content
  #dl-comments(class="hidden") #{comments}
  h1 #{title}
  h3 #{user}
  
  .container
    h3 Overall
    table(class="table table-bordered table-condense", id="total")
    br
    a(name="breakdown-section")
    h3(class="hidden", id="breakdown-title")
    .row
      .col-md-7
        a(id="img")
          img(id="detail", class="hidden img-responsive center-block")
    br
    table(class="table table-bordered table-condense", id="breakdown")    

block append javascript
  script(src="/javascripts/survey_report/main.js")

      
