extends layout

block content
  .container
    nav
      ul(class="pager")
        li
          a(href="#") Previous
        li
          a(href="#") Next

    .row
      .col-md-6
        img(src=default_img, class="img-thumbnail", id="pic1")
      .col-md-6
        img(src=default_img, class="img-thumbnail", id="pic2")
    .row
      .col-md-6
        img(src=default_img, class="img-thumbnail", id="pic3")
      .col-md-6
        img(src=default_img, class="img-thumbnail", id="pic4")

block append javascript
  script(src="/javascripts/isee_client.js")
