extends layout

block content
  .container
    nav
      ul(class="pager")
        li
          a(href="#") Previous
        li
          a(href="#") Next

    .row
      .col-md-6
        img(src=pic1, class="img-thumbnail")
      .col-md-6
        img(src=pic2, class="img-thumbnail")
    .row
      .col-md-6
        img(src=pic3, class="img-thumbnail")
      .col-md-6
        img(src=pic4, class="img-thumbnail")
