body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas {
  margin: 20px;
  width: 90%;
}

#reference-color {
  width: 90px;
  height: 14px;
  vertical-align: middle;
  background-color: rgb(255,0,0);
}

#actual-color {
  width: 90px;
  height: 14px;
  vertical-align: middle;
  background-color: rgb(151,187,205);
}

.overlay {  
/*	width: 50;
	height:100;*/
	word-break:normal;
	filter:alpha(Opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
	z-index:100; 
	background-color:#ffffff;  
}

.comment {  
/*	width: 50;
	height:100;*/
	word-break:normal;
	filter:alpha(Opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
	z-index:100; 
	font-weight: 600;
	font-size: 18px;
	color: black
	background-color:#ffffff;  
}
.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  outline: 0;
 }
